/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el alto completo de la pantalla */
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1; /* Ajusta para que el contenido principal ocupe el espacio restante */
}

h1, h2, h3 {
    color: #ff4081; /* Rosa */
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff6e40; /* Naranja oscuro para contraste */
    color: black;
}

/* Estilos para botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50; /* Verde */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: #45a049; /* Verde más oscuro */
    }

img.fixed-size {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Opcional: ajusta cómo la imagen se escala y recorta */
}

