@model GestorEventos.Servicios.Entidades.ServiciosVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img src="~/css/imagenes/borrar.png" alt="Borrar" class="fixed-size">
</div>
   
    



<h3>¿Quieres eliminar este servicio?</h3>
<div>
    <h4>Los servicios eliminados ya no estarán disponibles para el usuario.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Servicio</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            <label>Precio</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioServicio)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.IdServicio" class="p-4 rounded shadow-sm bg-light">
        <input type="hidden" asp-for="IdServicio" />

        <div class="form-group">
            <input type="submit" value="Borrar" class="btn btn-danger btn-block rounded" />
        </div>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary btn-block rounded">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

