@using GestorEventos.Servicios.Entidades
@model GestorEventos.Servicios.Entidades.Eventos



@{
    ViewBag.Title = "Detalles del Evento";
}

<h2>Detalles del Evento</h2>

<dl class="row">
  

    <dt class="col-sm-2">Nombre del Evento:</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreEvento)</dd>

    <!-- Otros detalles del evento -->

    <dt class="col-sm-2">Servicios Contratados:</dt>
    <dd class="col-sm-10">
        <dl class="row">
            @foreach (var servicio in (IEnumerable<ServiciosVM>)ViewData["ListaServicios"])
            {
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => servicio.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => servicio.PrecioServicio)
                </dd>
            }
        </dl>
    </dd>
</dl>

<div>
    <!--@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |-->
    <a asp-action="Index">Volver a Eventos</a>
</div>